@model Tumsun.Saigon.Presentation.WebMVC3.Models.CatalogVehicle.ListViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            CatalogPrice
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Vehicles) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Configure", "Configure", new { id=item.Id }) |
            @Html.ActionLink("Add To List", "AddToList", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
